{{#if loggedIn}}
  {{> yHeader}}
{{ else }}
  {{> nHeader}}
{{/if}}

<div class="registered">
  <span>FeatherFax is a social media web application with next-gen features. The site is still currently under construction and all user data is categorised as volatile and might be deleted.</span>
</div>

{{> footer}}
{{> cFooter }}
