{{#if loggedIn}}
  {{> yHeader}}
{{ else }}
  {{> nHeader}}
{{/if}}

<div class="badshah">

  <div class="dev_div">
    <img src="/images/worldcloud.png" />
    <span>Developed by
      <a href="https://www.instagram.com/_ikwilliams/" target="_blank" >Ik Williams</a>, currently 23 living in sub-saharan West Africa.</span>
    <span><b>About</b><p>He is a Software Engineer and he likes to learn programming languages. As of now he knows about 12 programming languages, but who is counting.</p>
      <b>Favourite quotes</b><p><em>'I respect my father and i love my mother'</em></p></span>
    <span><b>Other Interests</b></span>
    <span>Philosophy</span>
    <span>Music</span>
    <span>... and much more</span>
    <div class="dev_div_links">
      <a href="mailto:www.ikswaqqs40@gmail.com" target="_blank" class="sec_btn">Mail</a>
      <a href="https://www.github.com/ik-williams/" target="_blank" class="sec_btn">GitHub</a>
      <a href="https://www.instagram.com/_ikwilliams" target="_blank" class="sec_btn">Instagram</a>
    </div>
  </div>

</div>

{{> footer}}
